* {
    padding: 0;
    margin: 0;
}

/* Dev */
header,
header * {
    outline: 1px blue dashed;
}

section.hero,
section.hero *{
    outline: 1px red dashed;
}

section.villain,
section.villain *{
    outline: 1px green dashed;
}
/* Dep */
header {
    display:flex;
    justify-content: space-between;
    padding: .8rem 5vw 0;
    align-items: center;
    position: fixed;
    width: 90vw;
    top: 0px;
    left: 0px;
    background-color: rgb(238, 190, 151);
}

header button {
    padding: .5rem 1rem;
    border: none;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease-in-out;
    height: 6vh;
    border-bottom: 2px transparent;
    &:hover {
        background-color: rgb(173, 146, 88);
        border-bottom: 2px rgb(221, 223, 115) solid;
    }
}

section.hero {
    display: flex;
    margin: .3rem 5vw 0;
    height: 100vh;
    padding-top: 5vh;
}

& .right {
    width: 80vh;
}

& .left {
    width: 130vh;
}

section.hero .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;

    & h1 {
        font-size: 5rem;
    }
}
section.hero .left{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

section.hero .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.villain {
    display: flex;
    margin: 2rem 5vw 0;
    height: 100vh;
    padding-top: 5vh;
    & p {
        font-size: 1.5rem;
        color: brown;
    }
    & h1 {
        font-size: 2rem;
        color: blueviolet;
    }
}

body {
    background-color: bisque;
}